<!-- this is where you make changes to the layout below -->

<br />

<!-- MAIN POST -->
<div class="row">
  <div class="large-7 columns">
    <ul>
    <% @questions.each do |question| %>
    <hr>
        <li><%= question.title %></li>
        <li><%= question.user_id %></li>
        <li><%= question.user.email %></li>
        <li><%= question.user.created_at.to_formatted_s(:long) %></li>

    <% end %>
    </ul>
 </div>

<!-- END OF MAIN POSTS -->


<!-- *~*~*~*~**~*~*~ -->


<!-- SIDE BAR WITH HOT POSTS -->

<div class="large-5 columns">
    <div class="last-updated" style="background-color: #FFF8DC; border: 1px solid #AE9078;">
      <p style="color: gray">Hot Meta Posts</p>
      <hr style="width: 30%; position: relative; margin-left: 130px;">
        <ul>
          <% @questions.order(updated_at: :desc).each do |question| %>
            <li><strong><%= question.title %></strong><br />
            <%= question.updated_at %><br />
            <%= question.user_id %></li>
          <% end %>
        </ul>
    </div>
</div>

<!-- END OF SIDE POSTS -->
