<!-- this is where you make changes to the layout below -->
<br /><br />
<div class="row">
  <div class="large-7 columns">
    <ul>
    <% @questions.each do |question| %>
        <li><%= question.title %></li>
    <% end %>
    </ul>
 </div>
<div class="large-5 columns">
    <div class="last-updated" style="background-color: yellow;">
      <p><u>Hot Meta Posts</u></p>
        <ul>
          <% @questions.order(updated_at: :desc).each do |question| %>
            <li><%= question.updated_at %></li>
          <% end %>
        </ul>
    </div>
</div>
