<%# add navigation links to this file %>
 <li style="margin-top: 8px;"><i class="fa fa-bar-chart" style="color: white"></i></li>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Contact', page_path('contact') %></li>
